.header {
  color: #fff;
  overflow: hidden;
  width: 100%;
  min-height: 100%; }
  .header .header-image {
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0; }
  .header .wrapper .header-top {
    margin-bottom: 127px; }
    .header .wrapper .header-top > * {
      display: inline-block; }
    .header .wrapper .header-top .logo span {
      border: 5px solid #ffffff;
      display: block;
      font-weight: 900;
      font-size: 24px;
      text-align: center;
      line-height: 24px;
      color: #fff;
      padding: 10px 21px; }
  .header .wrapper .header-title-block {
    text-align: center; }
    .header .wrapper .header-title-block h1 {
      text-transform: uppercase;
      font-size: 70px;
      line-height: 70px;
      margin: 0 0 17px 0; }
      .header .wrapper .header-title-block h1 span {
        color: #00b88b; }
    .header .wrapper .header-title-block p {
      width: 610px;
      margin: 0 auto;
      font-size: 18px;
      margin-bottom: 44px;
      line-height: 30px; }

@media screen and (max-width: 768px) {
  .header .wrapper .header-top {
    margin-bottom: 95px; } }

@media screen and (max-width: 700px) {
  .header .wrapper .header-title-block h1 {
    font-size: 50px;
    line-height: 50px; }
  .header .wrapper .header-title-block p {
    max-width: 430px; } }

@media screen and (max-width: 520px) {
  .header .wrapper .header-top {
    margin-bottom: 55px; }
    .header .wrapper .header-top .logo span {
      font-size: 19px;
      padding: 3px 15px;
      border: 4px solid #fff; }
  .header .wrapper .header-title-block h1 {
    font-size: 30px;
    line-height: 30px; }
  .header .wrapper .header-title-block p {
    max-width: 282px;
    margin-bottom: 30px; }
  .header .wrapper .header-title-block .button {
    width: 175px;
    height: 60px; } }

.nav {
  position: relative;
  float: right;
  padding: 22px 0; }

nav {
  position: relative;
  float: right;
  margin: 0 11px 0 0;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
  .open nav {
    opacity: 0; }
  .close nav {
    display: block;
    opacity: 1;
    -webkit-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
            transform: translateX(-20px); }
  nav ul {
    list-style: none;
    padding: 4px 0 0 0;
    margin: 0; }
    nav ul li {
      display: inline; }
  nav a {
    margin: 0 2px;
    font: bold 18px "Open Sans", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 0;
    color: #fff;
    -webkit-perspective: 1000px;
            perspective: 1000px; }
    nav a span {
      position: relative;
      display: inline-block;
      padding: 2px 5px;
      -webkit-transition: -webkit-transform 0.3s;
      transition: -webkit-transform 0.3s;
      -o-transition: transform 0.3s;
      transition: transform 0.3s;
      transition: transform 0.3s, -webkit-transform 0.3s;
      -webkit-transform-origin: 50% 0;
          -ms-transform-origin: 50% 0;
              transform-origin: 50% 0;
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d; }
      nav a span::before {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        max-height: 28px;
        line-height: 28px;
        content: attr(data-hover);
        text-align: center;
        -webkit-transition: background 0.3s;
        -o-transition: background 0.3s;
        transition: background 0.3s;
        -webkit-transform: rotateX(-90deg);
                transform: rotateX(-90deg);
        -webkit-transform-origin: 50% 0;
            -ms-transform-origin: 50% 0;
                transform-origin: 50% 0; }
    nav a:hover span, nav a:focus span {
      -webkit-transform: rotateX(90deg) translateY(-22px);
              transform: rotateX(90deg) translateY(-22px); }
      nav a:hover span::before, nav a:focus span::before {
        border: 3px solid #fff; }

.bt-nav {
  display: block;
  position: absolute;
  right: 0;
  width: 24px;
  height: 24px;
  cursor: pointer; }
  .open .bt-nav .line1 {
    top: 17px; }
  .open .bt-nav .line3 {
    top: 27px; }
  .close .bt-nav .line {
    top: 17px; }
  .close .bt-nav .line1 {
    -webkit-transform: rotateZ(45deg);
        -ms-transform: rotate(45deg);
            transform: rotateZ(45deg); }
  .close .bt-nav .line2 {
    opacity: 0; }
  .close .bt-nav .line3 {
    -webkit-transform: rotateZ(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotateZ(-45deg); }
  .close .bt-nav nav ul {
    background-color: #00b88b; }
  .bt-nav .line {
    position: absolute;
    top: 7px;
    left: 50%;
    width: 24px;
    margin-left: -12px;
    height: 2px;
    background: #fff;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }

@media screen and (max-width: 520px) {
  .nav {
    padding: 14px 0; }
    .nav nav ul li {
      display: none; }
  .close {
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 96%;
    background-color: #00b88b;
    z-index: 1; }
    .close nav {
      position: absolute;
      left: 0;
      right: 0;
      top: 115px;
      text-align: center;
      margin: 0 0 0 5%; }
      .close nav ul li {
        display: block;
        margin-bottom: 20px; }
    .close .bt-nav {
      right: 15px;
      top: 30px; } }

.about {
  text-align: center;
  margin-bottom: 8px; }
  .about p {
    width: 630px;
    font-size: 15px;
    margin: 0 auto;
    margin-bottom: 44px;
    line-height: 25px; }
  .about .slider .item {
    display: inline-block;
    max-width: 280px;
    vertical-align: top;
    margin: 0 25px; }
    .about .slider .item .img-container {
      position: relative;
      width: 100px;
      height: 100px;
      margin: 0 auto;
      overflow: hidden;
      margin-bottom: 40px;
      border-radius: 50px; }
      .about .slider .item .img-container img {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover; }
    .about .slider .item h3 {
      text-transform: uppercase;
      font-size: 20px;
      margin-bottom: 12px; }
    .about .slider .item p {
      width: 100%;
      height: 75px;
      overflow: hidden;
      font-size: 13px;
      margin: 0; }

@media screen and (max-width: 700px) {
  .about p {
    width: 90%; } }

.slider.slick-initialized.slick-slider.slick-dotted {
  overflow: hidden; }
  .slider.slick-initialized.slick-slider.slick-dotted .slick-list.draggable .slick-track {
    margin-bottom: 42px; }
    .slider.slick-initialized.slick-slider.slick-dotted .slick-list.draggable .slick-track .slick-slide.slick-current.slick-active:focus {
      outline: none; }
  .slider.slick-initialized.slick-slider.slick-dotted .slick-dots {
    margin: 0;
    padding: 0; }
    .slider.slick-initialized.slick-slider.slick-dotted .slick-dots li {
      list-style: none;
      display: inline-block;
      margin: 0 16px;
      list-style: none;
      display: inline-block;
      margin: 0 16px;
      width: 6px;
      height: 6px;
      border: 1px solid #06203352;
      border-radius: 50%;
      background-color: #fff; }
      .slider.slick-initialized.slick-slider.slick-dotted .slick-dots li button {
        opacity: 0; }
        .slider.slick-initialized.slick-slider.slick-dotted .slick-dots li button:focus {
          outline: none; }
    .slider.slick-initialized.slick-slider.slick-dotted .slick-dots .slick-active {
      background-color: #062033; }

@media screen and (max-width: 520px) {
  .slider.slick-initialized.slick-slider.slick-dotted {
    width: 280px;
    margin: 0 auto; } }

.work {
  margin-bottom: 28px; }
  .work h2 {
    margin-bottom: 22px; }
  .work .work-meniu {
    list-style: none;
    padding: 0;
    margin-bottom: 25px; }
    .work .work-meniu li {
      display: inline-block;
      margin-right: 36px;
      cursor: pointer;
      font-size: 14px;
      font-weight: 100;
      color: #dadada; }
      .work .work-meniu li:last-child {
        margin-right: 0; }
    .work .work-meniu .active {
      font-weight: 400;
      color: #062033; }
  .work .grid:after {
    content: '';
    display: block;
    clear: both; }
  .work .grid .grid-item {
    float: left;
    margin-bottom: 47px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .work .grid .grid-item .img-container {
      display: block;
      position: relative;
      width: 460px;
      height: 260px;
      overflow: hidden;
      margin-bottom: 23px; }
      .work .grid .grid-item .img-container::before {
        content: url("../img/cursor.png");
        position: absolute;
        z-index: 1;
        left: 50%;
        margin-left: -40px;
        top: 50%;
        margin-top: -40px;
        -webkit-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
        -webkit-transform: translateX(273px);
            -ms-transform: translateX(273px);
                transform: translateX(273px); }
      .work .grid .grid-item .img-container::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #000000be;
        -webkit-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
        -webkit-transform: translateX(460px);
            -ms-transform: translateX(460px);
                transform: translateX(460px); }
      .work .grid .grid-item .img-container img {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover; }
      .work .grid .grid-item .img-container:hover::before {
        -webkit-transform: translateX(0px);
            -ms-transform: translateX(0px);
                transform: translateX(0px); }
      .work .grid .grid-item .img-container:hover::after {
        -webkit-transform: translateX(0px);
            -ms-transform: translateX(0px);
                transform: translateX(0px); }
    .work .grid .grid-item h3 {
      font-size: 15px;
      font-weight: 400;
      text-align: center;
      margin-bottom: 3px; }
    .work .grid .grid-item .description {
      text-align: center;
      font-size: 15px;
      font-family: 'Times New Roman', Times, serif;
      color: #333333;
      font-style: italic; }

@media screen and (max-width: 1024px) {
  .work .grid .grid-item .img-container {
    width: 340px;
    height: 195px; } }

@media screen and (max-width: 420px) {
  .work .work-meniu {
    text-align: center; }
  .work .grid .grid-item .img-container {
    width: 290px;
    height: 160px; } }

.contact {
  position: relative;
  margin-bottom: 66px; }
  .contact #map {
    position: absolute;
    width: 100%;
    height: 616px;
    top: 183px; }
    .contact #map::before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #000000d6;
      z-index: 1; }
  .contact .wrapper {
    z-index: 2 !important; }
    .contact .wrapper h2 {
      margin-bottom: 175px; }
    .contact .wrapper h3 {
      text-align: center;
      color: #ffffff;
      font-size: 30px;
      font-weight: 100;
      margin-bottom: 28px; }
    .contact .wrapper form {
      max-width: 620px;
      margin: 0 auto 53px; }
      .contact .wrapper form > * {
        padding: 16px 25px;
        background-color: #3c3c41c4;
        border: unset;
        color: white;
        font-size: 15px;
        font-style: italic; }
        .contact .wrapper form > *:first-child {
          margin-right: 15px; }
      .contact .wrapper form .name, .contact .wrapper form .mail {
        display: inline-block;
        width: 250px;
        margin-bottom: 20px; }
      .contact .wrapper form .message {
        display: block;
        width: 100%;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        padding: 14px 20px 98px 20px;
        margin-bottom: 32px; }
      .contact .wrapper form .button {
        background-color: unset;
        font-style: unset;
        margin: 0 auto;
        display: block;
        width: 130px;
        height: 65px; }
        .contact .wrapper form .button .morph-shape svg {
          fill: #6633ff; }
    .contact .wrapper .social {
      text-align: center; }
      .contact .wrapper .social a {
        margin-right: 14px; }
        .contact .wrapper .social a:last-child {
          margin-right: 0; }
        .contact .wrapper .social a object {
          height: 15px;
          width: auto; }

@media screen and (max-width: 710px) {
  .contact .wrapper h2 {
    margin-bottom: 150px; }
  .contact .wrapper form .name, .contact .wrapper form .mail {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .contact .wrapper form .message {
    margin-bottom: 13px; } }

@media screen and (max-width: 520px) {
  .contact {
    margin-bottom: 89px !important; }
    .contact .wrapper form .button {
      width: 110%;
      margin-left: -5%; } }

.footer .wrapper .footer-contacts a,
.footer .wrapper .footer-copyright {
  font-size: 13px;
  color: #333333; }

.footer .wrapper .footer-contacts {
  width: 680px;
  float: left; }
  .footer .wrapper .footer-contacts a {
    display: inline-block;
    margin-right: 47px;
    position: relative;
    padding-left: 27px;
    vertical-align: top; }
    .footer .wrapper .footer-contacts a:last-child {
      margin-right: 0; }
    .footer .wrapper .footer-contacts a::before {
      position: absolute; }
    .footer .wrapper .footer-contacts a span {
      display: block;
      margin-bottom: 6px; }
  .footer .wrapper .footer-contacts .adres::before {
    content: url("../img/icons/maps-and-flags.svg");
    width: 21px;
    left: -1px;
    top: 4px; }
  .footer .wrapper .footer-contacts .mail::before {
    content: url("../img/icons/envelope.svg");
    width: 23px;
    left: -9px;
    top: 1px; }
  .footer .wrapper .footer-contacts .phone {
    padding-left: 40px; }
    .footer .wrapper .footer-contacts .phone::before {
      content: url("../img/icons/call-answer.svg");
      width: 20px;
      left: 12px;
      top: 4px; }

.footer .wrapper .footer-copyright {
  display: block;
  float: right;
  vertical-align: top; }

@media screen and (max-width: 890px) {
  .contact {
    margin-bottom: 42px; }
  .footer .wrapper .footer-contacts, .footer .wrapper .footer-copyright {
    float: unset; }
  .footer .wrapper .footer-contacts {
    margin-bottom: 27px;
    width: 100%; }
  .footer .wrapper .footer-copyright {
    font-size: 12px;
    text-align: center; }
    .footer .wrapper .footer-copyright::before {
      content: '';
      border-top: 2px solid #333333;
      width: 46px;
      display: block;
      margin: 0 auto;
      padding-top: 9px; } }

@media screen and (max-width: 680px) {
  /* .contact {
        margin-bottom: 89px;
    } */
  .footer .wrapper .footer-contacts {
    margin-bottom: 5px;
    padding-left: 35px; }
    .footer .wrapper .footer-contacts a {
      display: block;
      margin-right: 0;
      padding-bottom: 15px;
      padding-left: 35px; }
    .footer .wrapper .footer-contacts .mail::before {
      left: -3px;
      top: -1px; }
    .footer .wrapper .footer-contacts .phone {
      padding-left: 35px; }
      .footer .wrapper .footer-contacts .phone::before {
        left: 5px;
        top: 3px; }
  .footer .wrapper .footer-copyright {
    text-align: unset;
    font-size: 12px;
    padding-left: 71px; }
    .footer .wrapper .footer-copyright::before {
      margin: 0; } }

/* @media screen and (max-width: 320px) {
    .footer {
        .wrapper {
            .footer-copyright {
                text-align: unset;
                font-size: 12px;
                padding-left: 71px;
                &::before {
                    margin: 0;
                }
            }
        }
    }
} */
html, body {
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif; }
  body > * {
    margin-bottom: 64px; }
  body .wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 42px 0;
    position: relative; }
  body a {
    text-decoration: none; }
  body h1, body h2, body h3 {
    margin: 0; }
  body h2 {
    font-size: 38px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-bottom: 42px;
    text-align: center; }
    body h2::after {
      content: "";
      border-bottom: 2px solid #333333;
      width: 80px;
      display: block;
      margin: 0 auto;
      padding-bottom: 19px; }

.button {
  background: none;
  border: none;
  width: 220px;
  height: 75px;
  outline: none;
  position: relative;
  padding: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  /* For some Androids */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .button .morph-shape {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
    .button .morph-shape svg {
      fill: #00b88b; }

.button__text {
  display: block;
  padding: 10px;
  text-align: center;
  position: relative;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.button--anim-1 .button__text {
  -webkit-transition: -webkit-transform 0.15s;
  transition: -webkit-transform 0.15s;
  -o-transition: transform 0.15s;
  transition: transform 0.15s;
  transition: transform 0.15s, -webkit-transform 0.15s; }

.button--anim-1:active .button__text {
  -webkit-transform: translate3d(0, -5px, 0);
  transform: translate3d(0, -5px, 0); }

@media screen and (max-width: 980px) {
  .header .wrapper, .about .wrapper, .work .wrapper, .contact .wrapper, .footer .wrapper {
    max-width: 100%;
    padding: 42px 35px; } }

@media screen and (max-width: 520px) {
  .header .wrapper, .about .wrapper, .work .wrapper, .contact .wrapper, .footer .wrapper {
    padding: 15px; } }

/*# sourceMappingURL=maps/style.css.map */
