.header {
  color: #fff;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  background-image: url("img/header_bg.jpg");
  background-size: cover; }
  .header .header-image {
    width: 100%;
    position: absolute;
    z-index: -1;
    height: 100%; }
  .header .wrapper .header-top {
    padding-top: 42px; }
    .header .wrapper .header-top > * {
      display: inline-block; }
    .header .wrapper .header-top .logo span {
      border: 5px solid #ffffff;
      display: block;
      font-weight: 900;
      font-size: 24px;
      text-align: center;
      line-height: 24px;
      padding: 10px 21px; }
  .header .wrapper .header-title-block {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 50%;
    margin-bottom: -130px; }
    .header .wrapper .header-title-block h1 {
      text-transform: uppercase;
      font-size: 70px;
      line-height: 70px;
      margin: 0 0 17px 0; }
      .header .wrapper .header-title-block h1 span {
        color: #00b88b; }
    .header .wrapper .header-title-block p {
      width: 610px;
      margin: 0 auto;
      font-size: 18px;
      margin-bottom: 60px; }
    .header .wrapper .header-title-block .button-primery {
      background-color: #00b88b;
      font-size: 18px;
      text-transform: uppercase;
      color: #fff;
      padding: 23px 46px;
      font-weight: 100; }

.nav {
  position: relative;
  float: right;
  padding: 24px 0; }

nav {
  position: relative;
  float: right;
  margin: 0 11px 0 0;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
  .open nav {
    opacity: 0; }
  .close nav {
    display: block;
    opacity: 1;
    -webkit-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
            transform: translateX(-20px); }
  nav ul {
    list-style: none;
    padding: 4px 0 0 0;
    margin: 0; }
    nav ul li {
      display: inline; }
  nav a {
    margin: 0 2px;
    font: bold 18px "Open Sans", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 0;
    color: #fff;
    -webkit-perspective: 1000px;
            perspective: 1000px; }
    nav a span {
      position: relative;
      display: inline-block;
      padding: 2px 5px;
      -webkit-transition: -webkit-transform 0.3s;
      transition: -webkit-transform 0.3s;
      -o-transition: transform 0.3s;
      transition: transform 0.3s;
      transition: transform 0.3s, -webkit-transform 0.3s;
      -webkit-transform-origin: 50% 0;
          -ms-transform-origin: 50% 0;
              transform-origin: 50% 0;
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d; }
      nav a span::before {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        max-height: 28px;
        line-height: 28px;
        content: attr(data-hover);
        text-align: center;
        -webkit-transition: background 0.3s;
        -o-transition: background 0.3s;
        transition: background 0.3s;
        -webkit-transform: rotateX(-90deg);
                transform: rotateX(-90deg);
        -webkit-transform-origin: 50% 0;
            -ms-transform-origin: 50% 0;
                transform-origin: 50% 0; }
    nav a:hover span, nav a:focus span {
      -webkit-transform: rotateX(90deg) translateY(-22px);
              transform: rotateX(90deg) translateY(-22px); }
      nav a:hover span::before, nav a:focus span::before {
        border: 3px solid #fff; }

.bt-nav {
  display: block;
  position: absolute;
  right: 0;
  width: 24px;
  height: 24px;
  cursor: pointer; }
  .open .bt-nav .line1 {
    top: 17px; }
  .open .bt-nav .line3 {
    top: 27px; }
  .close .bt-nav .line {
    top: 17px; }
  .close .bt-nav .line1 {
    -webkit-transform: rotateZ(45deg);
        -ms-transform: rotate(45deg);
            transform: rotateZ(45deg); }
  .close .bt-nav .line2 {
    opacity: 0; }
  .close .bt-nav .line3 {
    -webkit-transform: rotateZ(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotateZ(-45deg); }
  .bt-nav .line {
    position: absolute;
    top: 7px;
    left: 50%;
    width: 24px;
    margin-left: -12px;
    height: 2px;
    background: #fff;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }

html, body {
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif; }
  body .wrapper {
    max-width: 70%;
    margin: 0 auto;
    /* background-color: #dbd8d821; */ }
  body a {
    text-decoration: none; }

/*# sourceMappingURL=maps/style.css.map */
