@font-face {
  font-family: Myriad Pro;
  src: url(../fonts/Myriad_Pro_Regular.ttf); }

.header {
  height: 793px; }
  .header * {
    color: #ffffff; }
  .header .header-title {
    z-index: 1; }
  .header .overlay {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #392d3bbf;
    position: absolute;
    z-index: -1; }
  .header img {
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    z-index: -1; }
  .header .header-title {
    text-align: center;
    width: 290px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -106%);
        -ms-transform: translate(-50%, -106%);
            transform: translate(-50%, -106%); }
    .header .header-title h1 span {
      display: block; }
      .header .header-title h1 span:nth-child(1) {
        font-size: 9px;
        font-weight: 100;
        font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;
        letter-spacing: 3px;
        margin-bottom: 7px; }
      .header .header-title h1 span:nth-child(2) {
        font-size: 57px;
        font-weight: 900;
        letter-spacing: 3px;
        padding: 6px 0 12px 0;
        border-top: 5px solid #dc5352;
        border-left: 5px solid #dc5352;
        border-right: 5px solid #dc5352;
        position: relative; }
        .header .header-title h1 span:nth-child(2)::before {
          content: '';
          border-bottom: 6px solid #dc5352;
          display: block;
          width: 75px;
          position: absolute;
          bottom: 0;
          right: -1px; }
        .header .header-title h1 span:nth-child(2)::after {
          content: '';
          border-bottom: 6px solid #dc5352;
          display: block;
          width: 75px;
          position: absolute;
          bottom: 0;
          left: -1px; }
      .header .header-title h1 span:nth-child(3) {
        font-size: 17px;
        letter-spacing: 5px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -8px;
        margin-left: 6px; }

@media screen and (min-width: 768px) {
  .header .header-title {
    -webkit-transform: translate(-100%, -106%);
        -ms-transform: translate(-100%, -106%);
            transform: translate(-100%, -106%); }
    .header .header-title h1 {
      width: 596px; }
      .header .header-title h1 span {
        display: block; }
        .header .header-title h1 span:nth-child(1) {
          font-size: 20px;
          margin-bottom: 12px; }
        .header .header-title h1 span:nth-child(2) {
          font-size: 109px;
          padding: 6px 0 15px 0;
          border-top: 9px solid #dc5352;
          border-left: 9px solid #dc5352;
          border-right: 9px solid #dc5352; }
          .header .header-title h1 span:nth-child(2)::before {
            content: '';
            border-bottom: 9px solid #dc5352;
            width: 170px; }
          .header .header-title h1 span:nth-child(2)::after {
            content: '';
            border-bottom: 9px solid #dc5352;
            width: 170px; }
        .header .header-title h1 span:nth-child(3) {
          font-size: 39px;
          bottom: -20px;
          left: 68%; } }

.footer {
  background-color: #392d3b;
  text-align: center;
  padding: 100px 0; }
  .footer ul {
    margin-bottom: 37px; }
    .footer ul li {
      display: inline-block;
      margin: 0 6px; }
      .footer ul li a {
        display: block;
        z-index: 1; }
        .footer ul li a object {
          width: 34px;
          height: auto;
          z-index: -1;
          pointer-events: none; }
  .footer .copyright {
    color: #fff;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    padding-bottom: 100px; }

.nav-icon {
  display: block;
  position: fixed;
  right: 20px;
  top: 50px;
  width: 36px;
  height: 36px;
  z-index: 3;
  cursor: pointer; }
  .nav-icon .line {
    position: absolute;
    top: 7px;
    left: 50%;
    width: 30px;
    margin-left: -15px;
    height: 3px;
    background: #dc5352;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }

.open .nav-item, .open .searsh-block {
  display: none; }

.open .nav-icon .line1 {
  top: 17px; }

.open .nav-icon .line3 {
  top: 27px; }

.close {
  background-color: #dc5352;
  position: absolute;
  right: 0px;
  height: 100%;
  width: 100%;
  z-index: 2;
  padding-top: 100px; }
  .close .searsh-block {
    display: block;
    position: relative;
    max-width: 280px;
    margin: 0 auto; }
    .close .searsh-block > * {
      display: inline-block;
      margin-right: 15px; }
    .close .searsh-block form input {
      background-color: unset;
      border: none;
      border-bottom: 1px solid #fff;
      padding: 3px; }
      .close .searsh-block form input:focus {
        outline: none; }
    .close .searsh-block form .empty {
      background-image: url("../img/icons/magnifying-glass.svg");
      background-repeat: no-repeat;
      background-position: 158px; }
    .close .searsh-block a {
      z-index: 1;
      position: relative; }
      .close .searsh-block a::before {
        content: '';
        border-left: 1px solid #fff;
        position: absolute;
        display: block;
        height: 20px;
        left: -5px; }
      .close .searsh-block a object {
        height: 20px;
        width: auto;
        z-index: -1;
        pointer-events: none; }
      .close .searsh-block a .basket-counter {
        position: absolute;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: #392d3b;
        padding: 4px 0 4px 7px;
        font-weight: 800;
        right: -22px;
        bottom: 6px;
        z-index: -1; }
  .close .nav-item {
    display: block;
    list-style: none;
    text-align: center;
    margin-bottom: 60px; }
    .close .nav-item li {
      display: block;
      margin-bottom: 30px; }
    .close .nav-item a {
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 20px;
      -webkit-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear; }
      .close .nav-item a:hover {
        color: #392d3b; }
  .close .nav-icon .line {
    background-color: #fff;
    top: 17px; }
  .close .nav-icon .line1 {
    -webkit-transform: rotateZ(45deg);
        -ms-transform: rotate(45deg);
            transform: rotateZ(45deg); }
  .close .nav-icon .line2 {
    opacity: 0; }
  .close .nav-icon .line3 {
    -webkit-transform: rotateZ(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotateZ(-45deg); }

.galery-first .product-tshort, .galery-first .product-clearance {
  position: relative; }
  .galery-first .product-tshort .img-container, .galery-first .product-clearance .img-container {
    width: 100%;
    height: 293px;
    position: relative;
    overflow: hidden; }
    .galery-first .product-tshort .img-container img, .galery-first .product-clearance .img-container img {
      min-width: 100%;
      min-height: 100%;
      height: auto;
      position: relative;
      top: 50%;
      left: 50%;
      -webkit-transform: translateY(-50%) translateX(-50%);
          -ms-transform: translateY(-50%) translateX(-50%);
              transform: translateY(-50%) translateX(-50%); }
  .galery-first .product-tshort .description, .galery-first .product-clearance .description {
    text-align: center;
    background-color: #ffffff9e;
    padding: 3px 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -106%);
        -ms-transform: translate(-50%, -106%);
            transform: translate(-50%, -106%); }
    .galery-first .product-tshort .description a, .galery-first .product-clearance .description a {
      color: #392d3b;
      font-size: 32px;
      -webkit-transition: all 1s ease-out;
      -o-transition: all 1s ease-out;
      transition: all 1s ease-out; }
      .galery-first .product-tshort .description a:hover, .galery-first .product-clearance .description a:hover {
        color: #dc5352; }
    .galery-first .product-tshort .description span, .galery-first .product-clearance .description span {
      display: block;
      color: #5a495f;
      font-size: 16px; }

@media screen and (min-width: 768px) {
  .galery-first .product-tshort, .galery-first .product-clearance {
    display: inline-block;
    width: 50%;
    float: left; } }

@media screen and (min-width: 1024px) {
  .galery-first .product-tshort .img-container, .galery-first .product-tshort .description, .galery-first .product-clearance .img-container, .galery-first .product-clearance .description {
    display: inline-block;
    float: left;
    width: 50%; }
  .galery-first .product-tshort .description, .galery-first .product-clearance .description {
    background-color: unset;
    -webkit-transform: translate(0%, -55%);
        -ms-transform: translate(0%, -55%);
            transform: translate(0%, -55%); } }

.galery-second .img-container {
  display: none;
  width: 100%;
  height: 578px;
  position: relative;
  overflow: hidden; }
  .galery-second .img-container::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #ffffffba;
    z-index: 1; }
  .galery-second .img-container img {
    min-width: 100%;
    min-height: 100%;
    height: auto;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
        -ms-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%); }

.galery-second .product-stock {
  position: relative; }
  .galery-second .product-stock .img-container {
    display: block; }
    .galery-second .product-stock .img-container::before {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background-color: #6bb5ccbf;
      z-index: 1; }
  .galery-second .product-stock .block-content {
    left: 40px; }

@media screen and (min-width: 768px) {
  .galery-second > * {
    display: inline-block;
    float: left; }
    .galery-second > *:first-child {
      display: inline-block;
      width: 35%; }
    .galery-second > *:last-child {
      width: 65%; } }

.galery-third {
  margin-bottom: 75px; }
  .galery-third > * {
    width: 100%;
    height: 587px;
    position: relative;
    overflow: hidden; }
  .galery-third .product-suits img {
    min-width: 100%;
    min-height: 100%;
    height: auto;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
        -ms-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%); }
  .galery-third .product-suits::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #dc5252d2;
    z-index: 1; }
  .galery-third .product-suits .block-content {
    right: 40px;
    text-align: right; }
  .galery-third .product-tops img {
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    right: 0; }
  .galery-third .product-tops .block-content {
    right: 110px;
    text-align: right; }
    .galery-third .product-tops .block-content span {
      color: #392d3b; }
      .galery-third .product-tops .block-content span:first-child {
        font-size: 16px;
        margin-bottom: 10px; }
    .galery-third .product-tops .block-content .button-arrow {
      color: #392d3b;
      position: relative;
      font-weight: 900;
      -webkit-transition: all 1s ease-out;
      -o-transition: all 1s ease-out;
      transition: all 1s ease-out; }
      .galery-third .product-tops .block-content .button-arrow:hover {
        color: #dc5352; }
      .galery-third .product-tops .block-content .button-arrow .arrow {
        position: absolute;
        width: 164px;
        border-bottom: 2px solid #404041;
        right: -60px;
        bottom: -5px;
        -webkit-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
        transition: all 1s ease-out; }
        .galery-third .product-tops .block-content .button-arrow .arrow:hover {
          -webkit-transform: translateX(9%);
              -ms-transform: translateX(9%);
                  transform: translateX(9%); }
        .galery-third .product-tops .block-content .button-arrow .arrow i {
          border: solid #404041;
          border-width: 0 2px 2px 0;
          display: inline-block;
          padding: 3px;
          position: absolute;
          right: 0;
          bottom: -4px;
          -webkit-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg);
                  transform: rotate(-45deg); }
          .galery-third .product-tops .block-content .button-arrow .arrow i:hover {
            border: solid #dc5352; }

@media screen and (min-width: 768px) {
  .galery-third > * {
    display: block;
    float: left; }
    .galery-third > *:first-child {
      display: inline-block;
      width: 60%; }
    .galery-third > *:last-child {
      width: 40%; } }

body .deals {
  margin-bottom: 80px; }

.deals {
  overflow: visible; }
  .deals h2, .deals h2 span {
    color: #392d3b; }
  .deals h2 {
    font-size: 35px;
    text-align: center;
    font-weight: 100;
    margin-bottom: 61px; }
    .deals h2 span {
      font-weight: 900; }
  .deals .slider .slick-arrow {
    border: solid #404041;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 20px;
    position: absolute;
    cursor: pointer;
    z-index: 1;
    top: 25%; }
  .deals .slider .prev {
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
    left: 25px; }
  .deals .slider .next {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    right: 25px; }
  .deals .slider .slick-list.draggable {
    width: 60%;
    overflow: hidden;
    margin: 0 auto; }
  .deals .slider .item {
    max-width: 220px;
    text-align: center;
    margin: 0 10px; }
    .deals .slider .item > * {
      display: block; }
    .deals .slider .item .img-container {
      width: 220px;
      height: 280px;
      display: table-cell;
      vertical-align: middle;
      margin-bottom: 40px; }
      .deals .slider .item .img-container img {
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto; }
    .deals .slider .item .price, .deals .slider .item .item-title {
      margin-bottom: 15px; }
    .deals .slider .item .item-title, .deals .slider .item a {
      color: #392d3b; }
    .deals .slider .item .price, .deals .slider .item a {
      font-size: 16px; }
    .deals .slider .item .price {
      padding-top: 40px;
      font-weight: 900;
      color: #5a495f; }
    .deals .slider .item .item-title {
      font-size: 32px;
      font-weight: 100; }
    .deals .slider .item a {
      text-decoration: underline;
      font-weight: 500;
      -webkit-transition: all 1s ease-out;
      -o-transition: all 1s ease-out;
      transition: all 1s ease-out; }
      .deals .slider .item a:hover {
        color: #dc5352; }

@media screen and (min-width: 768px) {
  .deals h2 {
    font-size: 48px; }
  .deals .slider .slick-list.draggable {
    width: 90%; } }

@media screen and (min-width: 1240px) {
  .deals .slider .slick-list.draggable {
    width: 100%; }
  .deals .slider .prev {
    left: -35px; }
  .deals .slider .next {
    right: -35px; }
  .deals .slider .item {
    margin: 0; } }

.block-products .block-item {
  text-align: center;
  margin-bottom: 35px;
  width: 100%; }
  .block-products .block-item > * {
    margin-bottom: 35px;
    display: block;
    color: #392d3b; }
  .block-products .block-item .img-container {
    width: 100%;
    height: 295px;
    position: relative;
    overflow: hidden; }
    .block-products .block-item .img-container img {
      min-width: 100%;
      min-height: 100%;
      height: auto;
      position: relative;
      top: 50%;
      left: 50%;
      -webkit-transform: translateY(-50%) translateX(-50%);
          -ms-transform: translateY(-50%) translateX(-50%);
              transform: translateY(-50%) translateX(-50%); }
  .block-products .block-item h2 {
    font-size: 32px;
    margin-bottom: 5px; }
  .block-products .block-item a {
    color: #5a495f;
    padding: 12px;
    border: 2px solid #5a495f;
    font-weight: 900;
    font-size: 16px;
    -webkit-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
    width: 205px;
    padding: 20px 0;
    margin: 0 auto; }
    .block-products .block-item a:hover {
      color: #dc5352;
      border-color: #dc5352; }

@media screen and (min-width: 768px) {
  .block-products {
    margin-bottom: 100px; }
    .block-products .block-item {
      width: 30%;
      margin-right: 30px;
      float: left; }
      .block-products .block-item:last-child {
        margin-right: 0; } }

@media screen and (min-width: 1200px) {
  .block-products .block-item {
    width: 31%;
    margin-right: 34px; } }

.delivery-payment > * {
  width: 100%;
  height: 377px;
  padding: 40px; }
  .delivery-payment > * h2 {
    font-weight: 100;
    font-size: 32px;
    margin-bottom: 15px; }
    .delivery-payment > * h2 span {
      display: inline-block;
      font-weight: 900;
      color: #fff; }
  .delivery-payment > * .descrition {
    font-size: 16px;
    margin-bottom: 20px;
    display: block; }
  .delivery-payment > * > * {
    color: #fff; }
    .delivery-payment > * > * span {
      display: block; }

.delivery-payment .delivery {
  background-color: #46a3bf; }
  .delivery-payment .delivery .text-delivery {
    position: relative; }
    .delivery-payment .delivery .text-delivery > * {
      float: left; }
    .delivery-payment .delivery .text-delivery p {
      color: #fff;
      font-size: 12px;
      font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;
      text-transform: none;
      width: 45%;
      margin: 0 10px 25px 0; }
      .delivery-payment .delivery .text-delivery p a {
        color: #fff;
        text-decoration: underline;
        -webkit-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
        transition: all 1s ease-out; }
        .delivery-payment .delivery .text-delivery p a:hover {
          color: #392d3b; }
    .delivery-payment .delivery .text-delivery img {
      position: absolute;
      right: 0; }

.delivery-payment .payment {
  background-color: #dc5352;
  text-align: center; }
  .delivery-payment .payment h2 span {
    display: block; }
  .delivery-payment .payment img {
    display: block;
    margin: 0 auto; }

@media screen and (min-width: 768px) {
  .delivery-payment .delivery {
    margin-right: 45px; }
    .delivery-payment .delivery .text-delivery p {
      width: 50%; }
    .delivery-payment .delivery .text-delivery img {
      float: right; }
  .delivery-payment > * {
    width: 47%;
    float: left; }
    .delivery-payment > * h2 {
      font-size: 40px;
      line-height: 49px; }
    .delivery-payment > * .descrition {
      font-size: 25px;
      margin-bottom: 30px; } }

@media screen and (min-width: 1200px) {
  .delivery-payment .delivery {
    margin-right: 33px; }
  .delivery-payment > * {
    width: 48%; }
  .delivery-payment .descrition {
    font-size: 32px;
    margin-bottom: 25px; } }

.join {
  height: 631px; }
  .join .background {
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    z-index: -1; }
  .join h2, .join span, .join form {
    text-align: center;
    color: #fff; }
  .join h2 {
    padding-top: 168px;
    font-size: 32px;
    margin-bottom: 16px; }
  .join span {
    display: block;
    font-size: 16px;
    margin-bottom: 66px; }
  .join form input, .join form button {
    display: block;
    border: 2px solid #fff;
    height: 62px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 900;
    outline: none;
    padding: 10px; }
  .join form input {
    margin: 0 auto 25px;
    background-color: unset;
    width: 80%;
    color: #dc5352; }
    .join form input::-webkit-input-placeholder {
      color: #fff; }
    .join form input::-moz-placeholder {
      color: #fff; }
    .join form input:-ms-input-placeholder {
      color: #fff; }
    .join form input::-ms-input-placeholder {
      color: #fff; }
    .join form input::placeholder {
      color: #fff; }
  .join form button {
    margin: 0 auto 40px;
    background-color: #46a3bf;
    color: #fff;
    width: 120px;
    -webkit-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out; }
    .join form button:hover {
      background-color: #dc5352; }
  .join .join-slider .img-box {
    height: 75px;
    width: 140px;
    margin: 0 5px;
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
    .join .join-slider .img-box img {
      max-width: 100%;
      max-height: 100%; }

@media screen and (min-width: 768px) {
  .join form {
    margin-bottom: 40px; }
    .join form input, .join form button {
      display: inline-block; }
    .join form input {
      width: 460px;
      margin-right: 20px; } }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #5a5e60; }

html, body {
  height: 100%; }

body {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif; }
  body > * {
    position: relative;
    width: 100%;
    overflow: hidden; }
  body a {
    text-decoration: none; }

.deals, .block-products, .delivery-payment {
  max-width: 1110px;
  margin: 0 auto; }

.block-content {
  position: absolute;
  top: 40px;
  z-index: 1; }
  .block-content span {
    display: block;
    color: #fff;
    font-size: 32px;
    font-weight: 100;
    margin-bottom: 60px; }
  .block-content h2 span {
    font-size: 48px;
    margin: -7px 0; }
    .block-content h2 span:nth-child(3) {
      font-weight: 900;
      margin-bottom: 10px; }
  .block-content .button-link {
    color: #fff;
    padding: 12px;
    border: 2px solid #fff;
    font-weight: 900;
    font-size: 16px;
    -webkit-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out; }
    .block-content .button-link:hover {
      color: #5a495f;
      border-color: #5a495f; }

@media screen and (min-width: 768px) {
  .deals, .block-products, .delivery-payment {
    margin-bottom: 100px; } }

/*# sourceMappingURL=maps/style.css.map */
