.contact {
    position: relative;
    #map {
        position: absolute;
        width: 100%;
        height: 616px;
        top: 170px;
        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #000000be;
            z-index: 1;
        }
    }
    .wrapper {
        z-index: 2 !important;
        h2 {
            margin-bottom: 175px;
        }
        h3 {
            text-align: center;
            color: #ffffff;
            font-size: 30px;
            font-weight: 400;
            margin-bottom: 35px;
        }
        form {
            max-width: 620px;
            margin: 0 auto;
            & > * {
                padding: 20px 25px;
                background-color: #3c3c41c4;
                border: unset;
                color: white;
                font-size: 15px;
                font-style: italic;
                &:first-child {
                    margin-right: 20px;
                }
            }
            .name, .mail {
                display: inline-block;
                width: 39%;
                margin-bottom: 20px;
            }
            .message {
                display: block;
                width: 98%;
                box-sizing: border-box;
                padding: 20px 0 95px 20px;
                margin-bottom: 40px;
            }
            .button {
                background-color: unset;
                font-style: unset;
                margin: 0 auto 60px;
                display: block;
                .morph-shape svg {
                    fill: #6633ff;
                }
            }
        }
        .social {
            text-align: center;
        }
    }
}