.footer {
    .wrapper {
        .footer-contacts a, 
        .footer-copyright {
            font-size: 13px;
            color: #333333;
        }
        .footer-contacts {
            width: 680px;
            float: left;
            a {
                display: inline-block;
                margin-right: 47px;
                position: relative;
                padding-left: 27px;
                vertical-align: top;
                &:last-child {
                    margin-right: 0;
                }
                &::before {
                    position: absolute;
                }
                span {
                    display: block;
                    margin-bottom: 6px;
                }
            }
            .adres {
                &::before {
                    content: url('../img/icons/maps-and-flags.svg');
                    width: 21px;
                    left: -1px;
                    top: 4px;
                }
            }
            .mail {
                &::before {
                    content: url('../img/icons/envelope.svg');
                    width: 23px;
                    left: -9px;
                    top: 1px;
                }
            }
            .phone {
                padding-left: 40px;
                &::before {
                    content: url('../img/icons/call-answer.svg');
                    width: 20px;
                    left: 12px;
                    top: 4px;
                }
            }
        }
        .footer-copyright {
            display: block;
            float: right;
            vertical-align: top;
        }
    }
}

@media screen and (max-width: 890px) {
    .contact {
        margin-bottom: 42px;
    }
    .footer {
        .wrapper {
            .footer-contacts, .footer-copyright {
                float: unset;
            }
            .footer-contacts {
                margin-bottom: 27px;
                width: 100%;
            }
            .footer-copyright {
                font-size: 12px;
                text-align: center;
                &::before {
                    content: '';
                    border-top: 2px solid #333333;
                    width: 46px;
                    display: block;
                    margin: 0 auto;
                    padding-top: 9px;
                }
            }
        }
    }
}

@media screen and (max-width: 680px) {
    .footer {
        .wrapper {
            .footer-contacts {
                margin-bottom: 5px;
                padding-left: 35px;
                a {
                    display: block;
                    margin-right: 0;
                    padding-bottom: 15px;
                    padding-left: 35px
                }
                .mail {
                    &::before {
                        left: -3px;
                        top: -1px;
                    }
                }
                .phone {
                    padding-left: 35px;
                    &::before {
                        left: 5px;
                        top: 3px;
                    }
                }
            }
            .footer-copyright {
                text-align: unset;
                font-size: 12px;
                padding-left: 71px;
                &::before {
                    margin: 0;
                }
            }
        }
    }
}
