.galery-first {
    .product-tshort, .product-clearance {
        position: relative;
        .img-container {
            @include img-container(293px);
            img {
                @include img-full-screen-center;
            }
        }
        .description {
            text-align: center;
            background-color: #ffffff9e;
            padding: 3px 10px;
            @include vertical-centered;
            a {
                color: $darkpurple;
                font-size: 32px;
                transition: all 1s ease-out;
                &:hover {
                    color: $darkred;
                }
            }
            span {
                display: block;
                color: $darkpurple2;
                font-size: 16px;
            }
        }
    }
}

@media screen and (min-width: 768px){
    .galery-first {
        .product-tshort, .product-clearance {
            display: inline-block;
            width: 50%;
            float: left;
        }
    }
}

@media screen and (min-width: 1024px){
    .galery-first {
        .product-tshort, .product-clearance {
            .img-container, .description {
                display: inline-block;
                float: left;
                width: 50%;
                
            }
            .description {
                background-color: unset;
                transform: translate(0%, -55%);
            }
        }
    }
}