.galery-second {
    .img-container {
        display: none;
        @include img-container(578px);
        &::before {
            @include overlay(#ffffffba);
        }
        img {
            @include img-full-screen-center;
        }
    }
    .product-stock {
        position: relative;
        .img-container {
            display: block;
            &::before {
                @include overlay(#6bb5ccbf);
            }
        }
        .block-content {
            left: 40px;
        }
    }
}
@media screen and (min-width: 768px){
    .galery-second {
        & > * {
            display: inline-block;
            float: left;
            &:first-child {
                display: inline-block;
                width: 35%;
            }
            &:last-child {
                width: 65%;
            }
        }
    }
}