.join {
    height: 631px;
    .background {
        @include img-full-screen;
        z-index: -1;
    }
    h2, span, form {
        text-align: center;
        color: #fff;
    }
    h2 {
        padding-top: 168px;
        font-size: 32px;
        margin-bottom: 16px;
    }
    span {
        display: block;
        font-size: 16px;
        margin-bottom: 66px;
    }
    form {
        input, button {
            display: block;
            border: 2px solid #fff;
            height: 62px;
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 900;
            outline: none;
            padding: 10px;
        }
        input {
            margin: 0 auto 25px;
            background-color: unset;
            width: 80%;
            color: $darkred;
            &::placeholder {
                color: #fff;
            }
        }
        button {
            margin: 0 auto 40px;
            background-color: #46a3bf;
            color: #fff;
            width: 120px;
            transition: all 1s ease-out;
            &:hover {
                background-color: $darkred;
            }
        }
    }
    .join-slider {
        .img-box {
            height: 75px;
            width: 140px;
            margin: 0 5px;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
}
@media screen and (min-width: 768px){
    .join {
        form {
            margin-bottom: 40px;
            input, button {
                display: inline-block;
            }
            input {
                width: 460px;
                margin-right: 20px;
            }
        }
    }
}