.nav {
    position: relative;
    float: right;
    padding: 22px 0;
}
nav{
    position: relative;
    float: right;
    margin: 0 11px 0 0;
    transition: all 1s ease;
    .open &{
        opacity: 0;
    }
    .close &{
        display: block;
        opacity: 1;
        transform: translateX(-20px);
    }
    ul{
        list-style: none;
        padding: 4px 0 0 0;
        margin: 0;
        li{
        display: inline;
        }
    }
    a{
        margin: 0 2px;
        font: bold 18px $OpenSans;
        text-decoration: none;
        text-transform: uppercase;
        padding: 5px 0;
        color: #fff;
        perspective: 1000px;
        
        span{
            position: relative;
            display: inline-block;
            padding: 2px 5px;

            transition: transform 0.3s;
            transform-origin: 50% 0;
            transform-style: preserve-3d;

            &::before{
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                height: 100%;
                max-height: 28px;
                line-height: 28px;
                content: attr(data-hover);
                text-align: center;

                transition: background 0.3s;
                transform: rotateX(-90deg);
                transform-origin: 50% 0;
            }
        }
        &:hover,
        &:focus{
            span{
                transform: rotateX(90deg) translateY(-22px);

                &::before{
                    border: 3px solid #fff;
                }
            }
        }
    }
}

.bt-nav{
    display: block;
    position: absolute;
    right: 0;
    width: 24px;
    height: 24px;
    cursor: pointer;
    .open &{
        .line1{
            top: 17px;
        }
        .line3{
            top: 27px;   
        }
    }
    .close &{
        .line{
            top: 17px;
        }
        .line1{
            transform: rotateZ(45deg);
        }
        .line2{
            opacity: 0;
        }
        .line3{
            transform: rotateZ(-45deg);
        }
        nav ul {
            background-color: $green;
        }
    }
    .line{
        position: absolute;
        top: 7px;
        left: 50%;
        width: 24px;
        margin-left: -12px;
        height: 2px;
        background: #fff;
        transition: all 0.2s ease;
    }
}

@media screen and (max-width: 520px) {
    .nav {
        padding: 14px 0;
        nav ul li {
            display: none;
        }
    }
    .close {
        transition: all 1s ease;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 96%;
        background-color: $green;
        z-index: 1;
        nav {
            position: absolute;
            left: 0;
            right: 0;
            top: 115px;
            text-align: center;
            ul li {
                display: block;
                margin-bottom: 20px;
            }
        }
        .bt-nav {
            right: 15px;
            top: 30px;
        }
    }
}

