.slider.slick-initialized.slick-slider.slick-dotted {
    overflow: hidden;
    .slick-list.draggable {
        .slick-track {
            margin-bottom: 42px;
            .slick-slide.slick-current.slick-active {
                &:focus {
                    outline: none;
                }
            }
        }
    }
    .slick-dots {
        margin: 0;
        padding: 0;
        li {
            list-style: none;
            display: inline-block;
            margin: 0 16px;
            list-style: none;
            display: inline-block;
            margin: 0 16px;
            width: 6px;
            height: 6px;
            border: 1px solid #06203352;
            border-radius: 50%;
            background-color: #fff;
            button {
                opacity: 0;
                &:focus {
                    outline: none;
                }
            }
        }
        .slick-active {
            background-color: #062033;
        }
    }
}

@media screen and (max-width: 520px) {
    .slider.slick-initialized.slick-slider.slick-dotted {
        width: 280px;
        margin: 0 auto;
    }
}