//font colors------------------------
$darkpurple: #392d3b;
$darkpurple2: #5a495f;

//fonts --------------------------
$roboto: 'Roboto', sans-serif;
@font-face {
    font-family: Myriad Pro;
    src: url(../fonts/Myriad_Pro_Regular.ttf);
}
$myriad: 'Myriad Pro', Arial, Helvetica, sans-serif;
