@import 'veriables';
@import 'header';
@import 'footer';
@import 'navigation';
@import 'galery-first';
@import 'galery-second';
@import 'galery-third';
@import 'deals';
@import 'block-products';
@import 'delivery-payment';
@import 'join';

// RESET browser styles--------------
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #5a5e60;
}

//GENERAL----------------------------
html, body {
    height: 100%;
}
body {
    text-transform: uppercase;
    font-family: $roboto;
    > * {
        position: relative;
        width: 100%;
        overflow: hidden;
    }
    a {
        text-decoration: none;
    }
}

.deals, .block-products, .delivery-payment {
    max-width: 1110px;
    margin: 0 auto;
}
//galery block-content styles-------------------
.block-content {
    position: absolute;
    top: 40px;
    z-index: 1;
    span {
        display: block;
        color: #fff;
        font-size: 32px;
        font-weight: 100;
        margin-bottom: 60px;
    }
    h2 {
        span {
            font-size: 48px;
            margin: -7px 0;
            &:nth-child(3) {
                font-weight: 900;
                margin-bottom: 10px;
            }
        }
    }
    .button-link {
        @include button-link(#fff, $darkpurple2);
    }
}

@media screen and (min-width: 768px){
    .deals, .block-products, .delivery-payment {
        margin-bottom: 100px;
    }
}