@import 'header';
@import 'nav';
@import 'varibles';

html, body {
    height: 100%;
  }

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $OpenSans;
    .wrapper {
        max-width: 70%;
        margin: 0 auto;
        padding: 42px 0;
        position: relative;
    }
    a {
        text-decoration: none;
    }
}

@media screen and (max-width: 900px) {
    .header {
        .wrapper {
            max-width: 100%;
            padding: 42px 35px;
        }
    }
}

@media screen and (max-width: 520px) {
    .header {
        .wrapper {
            padding: 15px;
        }
    }
}