/* RESET browser styles */

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #5a5e60;
}


/* General styles */

body {
    font-family: 'Titillium Web', sans-serif;
}

li {
    list-style: none;
}


/* HEADER */

header,
article {
    border-bottom: 1px solid #b5babc;
}

header {
    padding: 10px 24px;
}

header img {
    display: inline-block;
    padding-top: 5px;
}

.header-nav {
    display: inline-block;
    float: right;
}

.header-nav ul li {
    display: inline-block;
    margin-left: 10px;
}

.header-nav ul li a {
    text-decoration: none;
    font-size: 12px;
}

.meniu-icon::before {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.icon-mic::before {
    content: url(../img/baseline-headset_mic-24px.png);
}

.icon-place::before {
    content: url(../img/baseline-place-24px.png);
}

.icon-person::before {
    content: url(../img/baseline-person-24px.png);
}

.icon-cart::before {
    content: url(../img/baseline-shopping_cart-24px.png);
}


/* ASIDE */

aside {
    display: block;
    width: 19%;
    padding: 16px 24px;
    float: left;
}

.logo-container {
    padding-bottom: 30px;
}

.logo-container img {
    display: inline-block;
    padding-top: 5px;
    float: left;
}

.logo-title {
    display: inline-block;
    padding-left: 16px;
}

.logo-title p:first-child {
    display: block;
    font-size: 18px;
}

.logo-title p:last-child {
    display: block;
    font-weight: bold;
    font-size: 16px;
}

.car-image {
    width: 100%;
    height: auto;
}

.aside-nav ul li {
    padding: 10px 0px;
}

.aside-nav ul li a {
    font-size: 18px;
    text-decoration: none;
}

.aside-nav ul li a::after {
    content: url(../img/ic_arrow_left.png);
    float: right;
}

.aside-nav ul li:first-child {
    background-color: #e5e5e5;
    margin: 0 -24px;
    padding: 10px 24px;
}

.recherche {
    color: #8d8d8d;
}

.recherche::before {
    content: url(../img/baseline-search-24px.png);
    margin-right: 16px;
}


/* MAIN */

main {
    display: inline-block;
    width: 81%;
    border-left: 1px solid #b5babc;
}


/* main-title-block */