/* RESET browser styles */

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* General styles */

body {
    font-family: 'Titillium Web', sans-serif;
    padding: 0 24px;
}


/* HEADER */

header,
article {
    border-bottom: 1px solid #b5babc;
}


/* ASIDE */

aside {
    display: inline-block;
    width: 16%;
}


/* MAIN */

main {
    display: inline-block;
    width: 83%;
    border-left: 1px solid #b5babc;
}


/* main-title-block */