/* RESET browser styles */

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #5a5e60;
}


/* General styles */

body {
    font-family: 'Titillium Web', sans-serif;
}

li {
    list-style: none;
}


/* HEADER */

header,
article {
    border-bottom: 1px solid #b5babc;
}

header {
    padding: 10px 24px;
}

header img {
    display: inline-block;
    padding-top: 5px;
}

.header-nav {
    display: inline-block;
    float: right;
}

.header-nav ul li {
    display: inline-block;
    margin-left: 10px;
}

.header-nav ul li a {
    text-decoration: none;
}

.meniu-icon::before {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.icon-mic::before {
    content: url(../img/baseline-headset_mic-24px.png);
}

.icon-place::before {
    content: url(../img/baseline-place-24px.png);
}

.icon-person::before {
    content: url(../img/baseline-person-24px.png);
}

.icon-cart::before {
    content: url(../img/baseline-shopping_cart-24px.png);
}


/* ASIDE */

aside {
    display: inline-block;
    width: 16%;
}


/* MAIN */

main {
    display: inline-block;
    width: 83%;
    border-left: 1px solid #b5babc;
}


/* main-title-block */